# --- Data files ---
*.csv
*.tsv
*.json
*.xml
*.dat
*.data
*.db
*.sqlite
*.sqlite3
*.parquet
*.pkl
*.pickle
*.h5
*.hdf5

# --- CSS files ---
*.css
*.scss
*.sass
*.less

# --- Excel / spreadsheet files ---
*.xls
*.xlsx
*.xlsm
*.xlsb
*.xlt
*.xltx
*.ods

# --- Archive / ZIP files ---
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.rar
*.7z
